<template>
  <div class="container">
    <b-form-group id="tax-id-group" label="Tax id:" label-for="tax-id">
      <b-form-select
        id="tax-id"
        v-model="$v.form.tax_id.$model"
        :options="options"
        :state="validateState('tax_id')"
        required
      ></b-form-select>
      <b-form-invalid-feedback
        >This is a required field.</b-form-invalid-feedback
      >
    </b-form-group>

    <b-form-group
      id="business-name-group"
      label="Business name:"
      label-for="business-name"
    >
      <b-form-input
        id="business-name"
        v-model="$v.form.business_name.$model"
        type="text"
        placeholder="Enter business name"
        :state="validateState('business_name')"
        required
      ></b-form-input>
      <b-form-invalid-feedback
        >This is a required field.</b-form-invalid-feedback
      >
    </b-form-group>

    <b-form-group
      id="request-amount-group"
      label="Your Name:"
      label-for="request-amount"
    >
      <b-form-input
        id="request-amount"
        v-model="$v.form.requested_amount.$model"
        type="number"
        placeholder="Enter amount request"
        :state="validateState('requested_amount')"
        required
      ></b-form-input>
      <b-form-invalid-feedback id="input-2-live-feedback"
        >This is a required field.</b-form-invalid-feedback
      >
    </b-form-group>

    <hr />
    <b-form-group>
      <b-button type="submit" variant="primary" @click="onSubmit"
        >Apply</b-button
      >
      <b-button type="reset" variant="danger" @click="onReset">Clear</b-button>
    </b-form-group>

    <hr />
    <div>
      <b-table striped hover :items="items"></b-table>
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      items: [],
      options: [
        { value: null, text: "Please select a tax option" },
        { value: "tax001", text: "Tax option 1" },
        { value: "tax002", text: "Tax option 2" },
        { value: "tax003", text: "Tax option 3" },
      ],
      form: {
        tax_id: null,
        business_name: null,
        requested_amount: null,
      },
    };
  },
  methods: {
    /* Data submit to get api */
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      this.$http.post("create-loan", this.form).then((res) => {
        this.items.push(res.data);
        this.alertDialog(res.data.status)
      });
    },
    /* Clean form */
    onReset(event) {
      event.preventDefault();
      this.form.tax_id = null;
      this.form.business_name = null;
      this.form.requested_amount = null;
    },
    /* Validate conditions form for each input*/
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    /* Show dialog with state about loan */
    alertDialog(status) {
      if (status == "Approved") {
        this.$swal("Good news!", "Your loan has been approved!", "success");
      } else {
        if (status == "Declined") {
          this.$swal("Sorry!", "Your loan has been declined!", "error");
        } else {
          if (status == "Undecided") {
            this.$swal("Good job!", "Your loan is being analyzed!", "info");
          }
        }
      }
    },
  },
  // Validations
  validations: {
    form: {
      business_name: {
        required,
      },
      tax_id: {
        required,
      },
      requested_amount: {
        required,
      },
    },
  },
};
</script>

<style>
select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container {
  text-align: left;
}

.form-group {
  margin-top: 15px;
  margin-bottom: 15px;
}
</style>
