<template>
  <div class="about">
    <h1>This is an about page</h1>
    <assessment/>
  </div>
</template>

<script>
import Assessment from "@/components/Assessment";

export default {
  name: "Home",
  components: {
    Assessment,
  },
};
</script>