<template>
  <div class="home">
    <h1>Assessment David Montoya</h1>
    <assessment/>
  </div>
</template>

<script>
// @ is an alias to /src
import Assessment from "@/components/Assessment";

export default {
  name: "Home",
  components: {
    Assessment,
  },
};
</script>
